*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    padding-left: 10%;
}

.cabecalho h1{
    font-size: 100px;
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 0;
    margin-bottom: 0;
}

.cabecalho h3{
    font-family: 'Roboto Slab', serif;
}

.container-conteudo{
    width: 100%;
    height: 800px;
}

.rodape{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}